body {
  background-color:white;

}
#header {
  height:100px;
  width:1000px;
  display:inline-block;
  text-deocration:none;
  font-family:Lucida grande;
  position:relative;
}
#weekday {
  list-style:none;
  color:#D7D7D7;
  font-family:Lucida grande;
 display:inline;
 float:left;
}
#dashboard {
list-style:none;
}

#dashboard li {
  display:inline;
  list-style-type:none;
  float:right;
  padding:5px;
}
  
a {
    text-decoration:none;
    color:#50A6C2
}
#logo {
    text-align:center;
    position:block;
}
#branding {
    margin-left:auto;
    margin-right:auto;
}

#slogan {
  text-align:center;
}

h1 {
    text-align:center;
    font-size:50px;
}
p {
    text-align:center;
    font-size:20px;
}
#images {
    text-align:center;
    height:250px;
    width:950px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:25px;
    font-family:Lucida grande;
}

  
#basecamp {
    float:left;
    width:25%;
    margin-right:50px;
    margin-left:85px;
    width:20%;
    border:1px solid #F0F0F0;
    text-align:center;
    position:inline-block;
    background:linear-gradient(to bottom right,#FFFFFF, #E8E8E8);
    padding:10px;
}
#highrise {
    float:left;
      margin-right:50px;
    width:20%;
    border:1px solid #F0F0F0;
    text-align:center;
   background:linear-gradient(to bottom right,#FFFFFF, #E8E8E8);
   padding:10px;

    
  

}
#campfire {
    float:left;
    margin-right:85px;
    margin-bottom:20px;
    width:20%;
    text-align:center;
    border:1px solid #F0F0F0;
    background:linear-gradient(to bottom right,#FFFFFF, #E8E8E8);
    padding:10px;
}

#askeriks {
  height:20px;
  text-align:center;
  font-size:30px;
  margin-top:
  position:absolute;

}

#ast {
  color:gray;
}
