body {
  background-color:white;

}
#header {
  height:100px;
  width:1000px;
  position:relative;
  }
  #dashboard {
    border:10px solid black;
    height:40px;
    width:600px;
    float:right;
    clear:both;
  }

#dashboardlist {
    float:right;
    clear:both;
    list-style:none;
    font-size:12px;
    }
#dashboardlist li {
  list-style:none;
  text-decoration:none;
  display:inline;
  margin-right:5px;
  font-family:Lucida grande;
}

#panel {
    list-style:none;
    display:inline;
    clear:both;
    color:#0066CC;
    font-family:Lucida grande;
}
#Happy {
    font-family:Lucida grande;
    margin: 5px 30px 20px 0px;
    display:inline;
    color:#0066CC;
    clear:both;
}
#Happy li {
    display:inline;
    list-style:none;
    font-family:Lucida grande;
    font-size:12px;
    color:gray;
}
a {
    text-decoration:none;
}
#logo {
    text-align:center;
    position:block;
}
#branding {
    margin-left:auto;
    margin-right:auto;
#slogan {
  border:10px solid black;
}

h1 {
    text-align:center;
    font-size:50px;
}
p {
    text-align:center;
    font-size:20px;
}
#images {
    position:block;
    text-align:center;
    height:220px;
    width:950px;
    margin-left:50px;
    margin-right:50px;
    margin-top:25px;
}

  
#basecamp {
    float:left;
    width:25%;
    margin-right:15px;
    width:200px;
    border:1px solid gray;
}
#highrise {
    float:left;
    width:25% margin-right:15px;
    margin-right:45px;
    width:200px;
    border:1px solid gray;
}
#campfire {
    float:left;
    width:200px;
    1px solid black;
}
